.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
  font-family: 'UTMCaviar';
  src: local('UTMCaviar'), url('./UTMCaviar.woff') format('woff');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_79355">Text with this font applied</p> */
p {
  font-family: 'UTMCaviar' !important;
  font-size: 20px;
  font-weight: bold;
}